#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

preprocess do
  # Add a basename attribute to each item
  items.map! {|i| i.attributes[:basename] = File.basename(i.attributes[:filename]); i}
end

compile '/static/css/*/' do
  skip = @item[:basename] =~ /^_/ # Treat files starting with _ as partials (don't route)
  unless skip
    filter :less if @item[:extension] == 'less'
    filter :sass if @item[:extension] == 'sass'
    filter :sass, :syntax => :scss if @item[:extension] == 'scss'
    filter :rainpress
  end
end

# Don't compile static files
compile '/static/*/' do end
compile '/posts/*/static/*/' do end

compile '/posts/*/' do
  filter :erb
  filter :kramdown
  filter :colorize_syntax,
         :syntax => :html,
         :default_colorizer => :pygmentize,
         :pygmentize => { :encoding => 'utf-8' }
  layout 'post'
end

compile '*' do
  filter :erb
  filter :colorize_syntax,
         :syntax => :html,
         :default_colorizer => :pygmentize,
         :pygmentize => { :encoding => 'utf-8' }
  layout 'default'
end


route '/static/*/' do
  skip = @item[:basename] =~ /^_/ # Treat files starting with _ as partials (don't route)
  unless skip
    path = @item.identifier.chop.gsub(/^\/static/, '')
    path = path.gsub(/twitter-bootstrap\/bootstrap/, 'twitter-bootstrap')
    extension = @item[:extension] =~ /less|sass|scss/ ? 'css' : @item[:extension]
    "#{path}.#{extension}"
  end
end

route '/posts/*/static/*/' do
  path = @item.identifier.chop.gsub('/posts', '').gsub('/static', '')
  "#{path}.#{@item[:extension]}"
end

route '/posts/*/' do
  path = @item.identifier.chop.gsub('/posts', '')
  "#{path}/index.html"
end

route '*' do
  item.identifier + 'index.html'
end

layout '/default/', :haml, :format => :html5
layout '/post/', :haml, :format => :html5
layout '/_google_analytics/', :erb
layout '/_disqus_comments/', :erb
