#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.


compile '*.less' do
  filter :less
end

compile '/stylesheet/' do
  filter :rainpress
end

compile '/static/*/' do
  # don't compile
end

compile '*' do
  filter :erb
  layout 'default'
end

route '/stylesheet/' do
  '/style.css'
end

route '/static/*/' do
  path = @item.identifier.chop.gsub(/^\/static/, '')
  path + '.' + @item[:extension]
end

route '*' do
  item.identifier + 'index.html'
end

layout '/default/', :haml, :format => :html5
layout '/_google_analytics/', :erb
