!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title #{@item[:title]} » Abe Voelker
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/twitter-bootstrap.css", :media => "screen"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/stylesheet.css", :media => "screen"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/wombat.css", :media => "screen"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic", :media => "screen"}
    %meta{:name => "generator", :content => "nanoc 3.2.1"}
  %body
    .topbar
    .container
      .content
        .page-header
          %h1
            Abe Voelker's blog
            %small Deep thoughts, distilled from an addled μ-brain
        .row
          .span10
            %h2 #{@item[:title]}
            %p.published
              Published:
              %span.date= @item[:created_at].strftime("%B %d, %Y")
            =find_and_preserve yield #find_and_preserve fixes 'pre' indentation issues
          .span4
            .sidebar
              %a{:href => '/'}
                %img{:src => "/images/portrait.png"}
              %h3 About Me
      %footer
        =render "_google_analytics"
